@font-face {
    font-family: "th-sarabun-new";
    src: url("../font/THSarabunNew/THSarabunNew.ttf");
}

/* .conent-display > p > img {
    width: 100%;
} */

.checklist{
    list-style: none;
}

.list-item::before{
    content: "✖";
    display: inline-block;
    margin: 8px 0;
    margin-left: -30px;
    width: 20px;
    font-size: 12px;
}

.list-item.checked{
    opacity: 0.5;
}

.list-item.checked::before{
    content: "✔";
}